<html>
    <head>
        <meta charset="utf-8">
        <title>{{uname}}的首页</title>
    </head>
    <!-- 未登录状态-->
    <body> 
        <!-- 首页顶部菜单，有 HOME(返回首页)，登录()，我的（个人主页），博客(博客论坛)-->
        <div>
            <fieldset>
                <a href ="/index.html">首页</a> 
                <a href ="/personal/{{uid}}">我的</a> 
                <a href ="/user/blogs.html">博客</a> 
                <a href ="/user/conectus">联系我们</a>
                <a href ="/all_books">退出登录</a>
                <p align="right"> {{uid}}号用户{{uname}} , 欢迎登录！</p>
            </fieldset>
        </div>

        <br>
        <!-- 首页搜索部分，搜索之后跳转到结果页面-->
        <div>
            <fieldset>
                <legend>搜索你想要的书籍:</legend>
                <form action="/search/{{uid}}" method="POST">
                     <select name="sfrom">
                        <option value="author">作者</option>
                        <option value="isbn">ISBN码</option>
                        <option value="name" selected>书名</option>
                        <option value="owner">拥有者</option>
                     </select>
                     <input type="search" name="search" rows=30 cols=100>
                     <input type="submit" value="提交">
                </form>
            </fieldset>
        <div>
        <br>
        <div>
            <fieldset>
                <legend>书籍列表:</legend>
                <table  border="1">
                    <tr>
                        <th>编号</th>
                        <th>书名</th>
                        <th>作者</th>
                        <th>ISBN</th>
                        <th>拥有者</th>
                        <th>详情</th>
                    </tr>
                    {{#book}}
                            <tr>
                                <td>{{id}}</td>
                                <td>{{name}}</td>
                                <td>{{author}}</td>
                                <td>{{isbn}}</td>
                                <td>{{owner}}</td>
                                <td><a href ="/book/{{id}}/{{uid}}">详情</a></td>
                            </tr>
                    {{/book}}
                </table>
            </fieldset>
            
        </div>

        <br>
        <!--开发者信息 杂项信息-->
        <div>
            <fieldset>
                <legend>开发者列表:</legend>

            </fieldset>
        </div>
        
    </body>       
</html>