<!-- 登录页 -->
<html>
    <head>
        <meta charset="utf-8">
        <title>登录界面</title>
    </head>

    <body> 
        <p>亲爱的访客,你好,请先登录</p>
        <form action="/login" method="POST">
            <fieldset>
                <legend>登录基本信息:</legend>
                用户名:<input type="text" name="uname" >
                <br>
                密码:<input type="password" name="passwd">
                <br>
                <input type="submit" value="提交">
            </fieldset>
        </form>
    </body>       
</html>